<%= render "shared/header" %>
  <div class="main-title" >
    <div class='item-contents'>
      <%= link_to "作者登録", new_creator_path, class: :new__btn %>
      <div class="subtitle" >
        <%= "#{@user.nickname}さんの作者一覧" %>
      </div>
      <ul class='item-lists'>
        <%= render partial: 'creators/creator', collection: @creators %>
      </ul> 
    </div>
  </div>
<%= render "shared/footer" %>