<%= render "shared/header" %>

<div class="main-title" >
  <div class='item-contents'>
    <div class='record-title'>タイトル</div>
    <div class='favorite-title'>
      <h2 class="name">
        <%= @record.title %>
      </h2>
      <p>
      <% if @record.favorited_by?(current_user) %>
        <%= link_to creator_record_favorites_path(@record.creator_id,@record.id), method: :delete, class: "favorite_btn" do %>
          ♥ お気に入り
        <% end %>
      <% else %>
        <%= link_to creator_record_favorites_path(@record.creator_id,@record.id), method: :post, class: "favorite_btn" do %>
          ♡ お気に入り
        <% end %>
      <% end %>
      </p>
    </div>
    <div class="item-img-content">
      <%= image_tag @record.image ,class:"record-item-img" %>
    </div>
    <div class='record-content'>説明</div>
    <div class="item-explain-box">
      <span><%= @record.content %></span>
    </div>
    <div class='created-body'>
      <div class='created-title'>作成日</div>
      <div class='created-date'><%= @record.created_date %></div>
    </div>
    <div class="edit__btn">
    <%= link_to "編集", edit_creator_record_path(@record.creator_id,@record.id), method: :get, class: :nav__btn  %>
    <%= link_to "削除", creator_record_path(@record.creator_id,@record.id), method: :delete, class: :nav__btn %>
    </div>
    <div class="back-btn-contents">
    <%=link_to 'もどる', creator_path(@record.creator_id), class:"record-back-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
