<%= render "shared/header" %>

<div class="main-title" >
  <div class='item-contents'>
    <h2 class="name">
      <%= @record.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @record.image ,class:"record-item-img" %>
    </div>
    <div class="item-explain-box">
      <span><%= @record.content %></span>
    </div>
    <div class="edit__btn">
    <%= link_to "編集", edit_creator_record_path(@record.creator_id,@record.id), method: :get, class: :nav__btn  %>
    <%= link_to "削除", creator_record_path(@record.creator_id,@record.id), method: :delete, class: :nav__btn %>
    </div>
    <div class="back-btn-contents">
    <%=link_to 'もどる', creator_path(@record.creator_id), class:"record-back-btn" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
