<li class='list'>
  <%= link_to creator_path(creator.id) do %>
  <div class='item-img-content'>
    <%= image_tag creator.image, class: "item-img" %>
  </div>
  <div class='item-info'>
    <span class='item-name'>
      <%= creator.name %>
    </span>
    <div class="edit__btn">
    <%= link_to "編集", edit_creator_path(creator.id), method: :get, class: :nav__btn  %>
    <%= link_to "削除", creator_path(creator.id), method: :delete, class: :nav__btn %>
    </div>
  </div>
  <% end %>
</li>