<%= render "shared/header" %>
  <div class="main-title" >
    <div class='item-contents'>
    <%= link_to "新規投稿", new_creator_record_path(@creator.id), class: :new__btn %>
      <div class="new-subtitle" >
        <p><%= "#{@creator.name}さんの思い出一覧" %></p>
      </div>
      <ul class='item-lists'>
      <% @records.each do |record| %>
        <li class='list'>
          <%= link_to creator_record_path(@creator.id,record.id) do %>
          <div class='item-img-content'>
            <%= image_tag record.image, class: "item-img" %>
          </div>
          <div class='record-info'>
            <span class='record-name'>
              <%= record.title %>
            </span>
          </div>
          <% end %>
        </li>
      <% end %>
      </ul> 
      <%= paginate @records %>
      <%if @records.length == 0 %>
        <li class='list'>
          <%= link_to new_creator_record_path(@creator.id) do %>
          <div class='item-img-content'>
            <%= image_tag "sample_record.JPG", class: "sample-img" %>
            <div class='sample'> 
              <span>sample</span>
            </div> 
          </div>
          <div class='item-info'>
            <p class='item-name'>
              思い出を投稿してね！
            </p>
          </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
<%= render "shared/footer" %>